.sidebarr {
  width: 18vw;
  height: 100vh;

  border-right: 0.5px solid black;
  background-color: #fdfcfc;
}
.logo {
  margin-top: 5vh;
  margin-left: 3vw;
}
.fruits {
  display: flex;
  width: 14vw;
  height: 7vh;
  margin-top: 5vh;
  margin-left: 2vw;
  border: white;
  background-color: #fdfcfc;
}

.fruiticon {
  margin-top: 1vh;
  margin-left: 1vh;
}

.FOOD {
  margin-top: 1vh;
  margin-left: 2vh;
  font-size: 1.6vw;
  color: #344054;
}

.FOOD :hover {
  margin-top: 1vh;
  margin-left: 2vh;
  font-size: 1.6vw;
  color: #fe6215;
}
.elec {
  display: flex;
  width: 14vw;
  height: 7vh;
  margin-top: 1vh;
  margin-left: 2vw;
  border: white;
  background-color: #fdfcfc;
}

.fruits:hover {
  background-color: #fff6f1;

  transition: 0.7s;
}

.elec:hover {
  background-color: #fff6f1;

  transition: 0.7s;
}
.elec:hover h1 {
  color: #fe6215;
}
.fruits:hover h1 {
  color: #fe6215;
}

.account {
  margin-top: 60vh;

  margin-left: 1vw;
}

.icon :hover {
  fill: #fe6215;
}

.elec:hover .fruiticon {
  fill: #fe6215 !important;
}
.fruits:hover .fruiticon {
  fill: #fe6215 !important;
}
