.full-width-table {
  width: 100%;
}
.mat-elevation-z8 {
  width: 90%;

  margin-left: -12vw;
  margin-top: 2vh;

  box-shadow: none;
}
.mat-elevation-z8 {
  border-collapse: separate;
  border-spacing: 120vw 20vw;
}

.mat-elevation-z8 td {
  padding: 10px 0;
}
.mat-elevation-z8 table td:nth-child(2) {
  color: #039855;
}
.SortBy svg {
  margin-top: 2vh;
  margin-left: 1vw;
  fill: #344054;
}
.SortBy {
  border-radius: 2%;
  border-color: white;
  display: flex;
  background-color: #fff;
  width: 10vw;
  height: 8vh;
  margin-left: 30vh;
  margin-top: 18vh;
  box-shadow: none;
}

.SortBy h1 {
  font-size: medium;

  color: #344054;
  margin-left: 1vh;
}
